################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/D365ODataCsdlShortener/bin/Debug/net7.0
/D365ODataCsdlShortener/obj
